body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    font-family: consolas;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2;
}

a:hover {
    color: white;
    background-color: rgb(112, 187, 216);
    box-shadow: 0 0 10px black, 0 0 40px rgb(43, 189, 226), 0 0 800px rgb(0, 81, 128);
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(160, 176, 221));
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, plum);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, plum);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, plum);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}